#
.DS_Store
*.iml
.idea/
out/
data/user_data.json
data/followers_data.json
data/following_data.json
data/posts_data.json
data/wallets_data.json
data/config_server.properties
data/config_client.properties