#
.DS_Store
*.iml
.idea/
out/
data/user_data.json
data/followers_data.json
data/following_data.json
data/posts_data.json
data/wallets_data.json
data/server_config.properties
data/client_config.properties